
{%- capture json_data -%}{"product_title": "{{- product.title -}}","product_id": "{{-product.id-}}", 
"variants": {
  {% for variant in product.variants %}
    "{{ variant.id }}": {
      "id": "{{variant.id}}",
      "variant_title": "{{ product.title }} - {{ variant.title }}",
      "url": "{{ variant.url }}",
      "image": "{{ variant.featured_image |  image_url: width: 210  }}",
      "image_large": "{{ variant.featured_image |  image_url: width: 260  }}",
      "image_switch_thumb": "{{ variant.featured_image |  image_url: width: 50  }}",
      "is_sale": {% if variant.compare_at_price > variant.price %}true{% else %}false{% endif %},
      "compare_at_price": "{{- variant.compare_at_price | money -}}",
      "price": "{{- variant.price |  money -}}"
    }{% unless forloop.last %},{% endunless %}
  {% endfor %}}
}{%- endcapture -%}



<product-card 
  class="product-card"
  data-product-data="{{ json_data |  escape }}"
  data-active-variant="{{ product.selected_or_first_available_variant.id }}"
  >
  <div class="product-card__media-container">
    <a class="product-thumbnail__link" href="" aria-label="">
      <picture class="product-card-picture">
        <source class="product-image--large" media="(min-width: 768px)" srcset="" />
        <img 
          src=""
          alt=""
          class="product-image"
          loading="lazy"
          />
      </picture>

      <div class="card__badge {{ settings.badge_position }}">
        {%- if product.available == false -%}
          <span
            id="Badge-{{ section_id }}-{{ product.id }}"
            class="badge badge--bottom-left color-{{ settings.sold_out_badge_color_scheme }}"
          >
            {{- 'products.product.sold_out' | t -}}
          </span>
        {%- elsif product.compare_at_price > product.price and product.available -%}
          <span
            id="Badge-{{ section_id }}-{{ product.id }}"
            class="badge badge--bottom-left color-{{ settings.sale_badge_color_scheme }}"
          >
            {{- 'products.product.on_sale' | t -}}
          </span>
        {%- endif -%}
      </div>
    </a>

    <ul class="product-variants"></ul>
  </div>

  <div class="product-card__information">
    <h3 class="product-card-heading">
      <a id="productLink-{{ product.selected_or_first_available_variant.id }}-{{ section_id }}" href="" aria-label="" class="product-link">Loading...</a>
    </h3>
    <div class="price">
      <div class="regular-price"></div>
      <div class="sale-price"></div>
    </div>
  </div>
</product-card>